/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

#home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), asset-url('mountain.jpg');
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-title {
  text-align: center;
  line-height: 2em;
  h1 {
    font-size: 7em;
    font-family: "helvetica";
    font-weight: bold;
    letter-spacing: 3.5px;
    position:relative;
    background:url('1edited.jpg');
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-position: center;

    animation: animatedBackground 120s linear infinite;
  }
  p {
    font-size: 1.3em;
    letter-spacing: 0.8px;
    color: white;
    font-weight: lighter;
    text-shadow: 1px 1px 3px #1D1C27;
  }
}

@keyframes animatedBackground {
  from { background-position: 0; }
  to { background-position: 1500%; }
}

@media (max-width: 768px) {
  .home-title {
    h1 {
      font-size: 3em;
      background:url('2edited.jpg');
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-position: center;
    }
    p {
      font-size: 1em;
    }
  }
  @keyframes animatedBackground {
    from { background-position: 1100%; }
    to { background-position: 0%; }
  }
}


.buttons {
  margin-top: 80px;
  .shh, a:hover span { display: none }
  a:hover .shh { display: inline }

  .ssh, a:hover span { display: none }
  a:hover .shh { display: inline }
}

.navbar-arthropocene-button {
  font-size: 30px;
  line-height: 80px;
}
