.show {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)) no-repeat center center fixed, image-url('mountain.jpg') no-repeat center center fixed;
  background-size: cover;
}

#user {

  .profile-details {
    height: 91vh;
    text-align: center;
    color: white;
  }

  h2 {
    position: absolute;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    top: 55%;
    margin: 0;
  }
  h3 {
    position: absolute;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    top: 63%;
    margin: 0;
  }

  .self-express {
    position: absolute !important;
    left: 35% !important;
    right: 35% !important;
    top: 75% !important;

  }
  .user-image {
    position: absolute;
    top: 20%;
    left: 0;
    width: 200px;
    border-radius: 8em;
  }
}

