.show {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)) no-repeat center center fixed, image-url('mountain.jpg') no-repeat center center fixed;
  background-size: cover;
}

#user {

  .profile-details {
    height: 98vh;
    text-align: center;
    color: white;
  }

  h2 {
    position: absolute;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    top: 50%;
    margin: 0;
  }
  h3 {
    position: absolute;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    top: 58%;
    margin: 0;
  }

  .self-express {
    position: absolute !important;
    left: 35% !important;
    right: 35% !important;
    top: 70% !important;

  }
  .user-image {
    position: absolute;
    top: 15%;
    left: 0;
    width: 200px;
    border-radius: 8em;

  }
}

