.public-posts {
  &-title {
    position: relative;
    text-align: center;

    h1 {
      font-size: 35px;
      text-transform: uppercase;
      font-weight: bold;
      font-family: "Gruppo";
      background:url('edited.jpg');
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }

    p {
      color: lightgrey;
      font-size: 15px;
      line-height: 20px;
    }
  }

  &-column {
    opacity: 0.1;
    height: 100vh;
    padding: 0;

    h1 {
      font-size: 1em;
    }
  }
}
