#upload-page {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), image-url('mountain.jpg');
  background-size: cover;
  height: 100vh;
}

@media (max-height : 666px) {
  #upload-page {
    height: 100%;
  }
}
