
<h1><%= @user.name %></h1>

<div id="user">
  <% if @user.post.blank? %>
    Let's add your first post !
  <% else %>
    <% @user.post.each do |post| %>
      <%= render 'posts/show', post: post %>
    <% end %>
  <% end %>
</div>
<%= render 'posts/form', user: @user, post: @post %>
