<h1><%= @user.email %></h1>

<div id="user">
  <% if @user.posts.blank? %>
    Let's add your first post !
  <% else %>
    <% @user.posts.each do |post| %>
      <%= render 'posts/show', post: post %>
    <% end %>
  <% end %>
</div>
<h2>Add another Post</h2>
<%= render 'posts/form', user: @user, post: @post %>

