<div class="back-to-top-nav">
  <nav>
    <div class="back-to-top"><a href="">Back to Top</a></div>
  </nav>
</div>
<div class="col-xs-12" id="siteInfo">
  <span class="site-address">Arthropocene LLC, P.O. Box 800, Tahoe City, CA 96145, USA</span>

  <div class="col-xs-12" data-layout-label="Footer Content" class="footerBlocks">
      <div class="col-xs-12">
            <p><a href="/contact">Contact</a><br><a href="/terms-of-use">Terms of Use</a> • <a href="/privacy">Privacy Policy</a></p><p>©2001-2015 Arthropocene LLC. All rights reserved.</p>
      </div>
  </div>
</div>

