<div class="col-xs-12 <%= 'footer-logged' if user_signed_in? %><%= '-white' if params[:action] == 'show' %>" id="siteInfo">
  <div class="col-xs-12" data-layout-label="Footer Content" class="footerBlocks">
    <div class="col-xs-12">
      <p>
        Made with <i class="fa fa-heart" style="color:red"></i> at Le Wagon Beirut
      </p>
    </div>
  </div>
</div>

