<div id="siteInfo" class="col-xs-12 <%= 'footer-logged' if user_signed_in? %> <%= 'footer-logged-white' if params[:action] == 'home' %>">
  <div class="col-xs-12" data-layout-label="Footer Content" class="footerBlocks">
    <div class="col-xs-12">
      <p>
        Made with <i class="fa fa-heart" style="color:red"></i> at Le Wagon Beirut
      </p>
    </div>
  </div>
</div>

