
<div class="post-frame">
  <div class="post-frame-title">
    <h1>Hello Yara !!</h1>
  </div>
  <div class="post-frame-image">
    <img src="https://helpx.adobe.com/content/dam/help/en/illustrator/how-to/CC_SaveForWeb_1408x792.jpg" class="post-frame-image-style">
  </div>
  <div class="post-frame-comment">
    <p>Testing the format</p>
  </div>
</div>

<!-- <div class="post-frame">
  <div class="post-frame-title">
    <h1>Hello Yara !!</h1>
  </div>
  <div class="post-frame-image">
    <img src="http://www.fubiz.net/wp-content/uploads/2014/11/Skulls-Artwork-by-Jacky-Tsai-4.jpg" class="post-frame-image-style">
  </div>
  <div class="post-frame-comment">
    <p>Testing the format</p>
  </div>
</div>

<div class="post-frame">
  <div class="post-frame-title">
    <h1>Hello Yara !!</h1>
  </div>
  <div class="post-frame-image">
    <img src="http://ak1.ostkcdn.com/images/products/9659690/P16841660.jpg" class="post-frame-image-style">
  </div>
  <div class="post-frame-comment">
    <p>Testing the format</p>
  </div>
</div>
 -->
