<body id="home">
    <div class="home-title col-xs-12">
      <h1>Arthropocene<span></span></h1>
      <p>The time we, Humans acknowledge art influence upon us.</p>
    </div>
    <% if !user_signed_in? %>
      <div class="col-xs-6 col-xs-offset-3 buttons">
        <%= link_to t(".top_call_to_action", default: "<strong>Belonger</strong><strong style="display: none">Sign in</strong>".html_safe), new_user_session_path, class: "btn navbar-arthropocene-button sign_in" %>
        <%= link_to t(".top_call_to_action", default: "Non-<strong>Belonger</strong>".html_safe), new_user_registration_path, class: "btn navbar-arthropocene-button sign_up" %>
      </div>
    <% end %>
  </div>
</body>
