<div id="home" style="<%= 'heigt: 92vh' if user_signed_in? %>">
  <div class="home-title">
    <h1>Arthropocene<span></span></h1>
    <p>The time we, Humans acknowledge art influence upon us</p>
    <% if !user_signed_in? %>
      <div class="buttons">
        <%= link_to t(".top_call_to_action", default: "

          <span><strong>Belonger</strong></span>
          <span class='shh'><strong>Hello ! :D</strong></span>".html_safe), new_user_session_path, class: "btn navbar-arthropocene-button" %>

        <%= link_to t(".top_call_to_action", default: "

          <span>Non-<strong>Belonger</strong></span>
          <span class='shh'><strong>Sign up now !</strong></span>".html_safe), new_user_registration_path, class: "btn navbar-arthropocene-button" %>
      </div>
    <% end %>
  </div>
</div>
