
<div id="homepage" class="text-center col-xs-12">
  <div class="homepage-title">
    <h1>Arthropocene</h1>
    <p>A geologic epoch acknowledging art influence upon the Humans</p>
  </div>

  <div class="col-xs-3">
  </div>
  <div class="col-xs-6">
    <%= render 'shared/post' %>
    <%= render 'shared/post' %>
  </div>
  <div class="col-xs-3">
  </div>
</div>












