
<div id="homepage" class="text-center">

    <h1>Arthropocene</h1>
    <p>A geologic epoch acknowledging art influence upon the Humans</p>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%# render 'shared/post' %>
    </div>
    <div class="col-xs-12">
      <%# render 'shared/post' %>
    </div>
  </div>
</div>
 -->



    <%= render 'shared/post' %>








