<div class="home-title homepage-title col-xs-12">
  <h1>Arthropocene<span></span></h1>
  <p>The time we, Humans acknowledge art influence upon us.</p>
  <% if !user_signed_in? %>
    <div class="col-xs-6 col-xs-offset-3 buttons">
      <div class="col-xs-3 col-xs-offset-3">
        <%= link_to t(".top_call_to_action", default: "<strong>Belonger</strong>".html_safe), new_user_session_path, class: "navbar-arthropocene-item navbar-arthropocene-button btn" %>
      </div>
      <div class="col-xs-3">
        <%= link_to t(".top_call_to_action", default: "Non-<strong>Belonger</strong>".html_safe), new_user_registration_path, class: "navbar-arthropocene-item navbar-arthropocene-button btn" %>
      </div>
    </div>
  <% end %>
</div>
