<div class="posts-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div id="user">
          <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>

          <% if current_user.posts.blank? %>
            <%= link_to t(".top_call_to_action", default: "Express Yourself"), new_user_post_path(current_user.id), class: "btn btn-primary self-express " %>
          <% else %>
            <% @current_user.posts.each do |post| %>
              <%= render 'posts/post_for_profile', post: post %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



