<div id="user">
  <h1><%= @user.email %></h1>

  <% if @user.posts.blank? %>
    <%= link_to t(".top_call_to_action", default: "Let's add your first post !"), posts_path, class: "navbar-item navbar-button btn" %>
  <% else %>
    <% @user.posts.each do |post| %>
      <%= render 'posts/profileshow', post: post %>
    <% end %>
    <div class="col-xs-2 col-xs-offset-5">
      <%= link_to t(".top_call_to_action", default: "New Post"), new_post_path, class: "navbar-item navbar-button btn" %>
    </div>
  <% end %>
</div>



