<h1>Public Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li id="post-<%= post.id %>">
      <%= post.title %>
      <%if post.user_id == current_user.id %>
        <%= link_to "Delete Your Post", post_path(post.id), method: :delete, remote: true %>
      <% end %>
    </li>
  <% end %>
</ul>
