div#siteInfo {
  height: 190px;
  text-align: center;
  color: black;
  padding-top: 95px;

  // background-color: #27272B;

  div.footerBlocks{
    vertical-align:middle;
    display:inline-block;
  }
}

div.back-to-top-nav {
  text-align: center;
  padding: 0.5em;
}
