div#siteInfo {
  text-align: center;
  color: white;
  margin-top: -50px;

  div.footerBlocks{
    vertical-align:middle;
    display:inline-block;
  }
  &.footer-logged {
    margin-top: 20px;
    color: white;

    &-white {
      color: white;
    }
  }
}
