@import "bourbon";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);


.login-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), image-url('mountain.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

@mixin normalize-input {
  display: block;
  width: auto;
  height: auto;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  border-radius: 0px;
}

.login {
  padding: 15px;
  width: 400px;
  min-height: 400px;
  margin: 2% auto 0 auto;
  // background: linear-gradient(rgba(105, 55, 142, 0.7), rgba(84, 163, 165, 0.3)), asset-url('milkey.jpg');
  background: transparent;
  a {
    color: rgba(255,255,255,0.8);
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  .heading {
    text-align: center;
    margin-top: 1%;

    h2 {
      font-size: 2em;
      font-weight: 600;
      color: rgb(255, 255, 255);
      display: inline-block;
      padding-bottom: 5px;
      margin-bottom: 30px;
    }
  }
  .checkbox {
    text-align: left;
    color: white;
    padding-left: 24px;
    label { input { margin-top: 0.49em }}
  }

  .login-links {
    padding: 10px 0;
    color: white;
  }

  form {
    .input-group {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &-last {
        border-bottom: none !important;
      }

      span {
        background: transparent;
        min-width: 60px;
        border: none;

        i {
          font-size: 1.3em;
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }

    input.form-control {
      @include normalize-input;

      padding: 10px;
      font-size: 1.3em;
      width: 100%;
      background: transparent;
      color: white;

      &:focus {
        border: none;
        background: transparent;
      }
      &::placeholder {
        color: rgba(255, 255, 255, 0.4);
      }
    }

    button {
      margin-top: 25px;
      margin-bottom: 20px;
      border: none;
      font-size: 1.2em;
      font-weight: 600;
      line-height: 2em;
      padding: 5px 0;
      width: 100%;

      &:hover {
        -webkit-animation: hop 1s;
        animation: hop 1s;
      }
    }
  }
}

.float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.float:hover, .float:focus, .float:active {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}



/* Large Devices, Wide Screens */

@media only screen and (max-width : 1500px) {
}

@media only screen and (max-width : 1200px) {
  .login {
    width: 600px;
    font-size: 2em;
  }
}

@media only screen and (max-width : 1100px) {
  .login {
    margin-top: 2%;
    width: 600px;
    font-size: 1.7em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .login {
    margin-top: 1%;
    width: 550px;
    font-size: 1.7em;
    min-height: 0;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .login {
    margin-top: 0;
    width: 500px;
    font-size: 1.3em;
    min-height: 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .login {

    h2 {
      margin-top: 0;
    }

    margin-top: 0;
    width: 400px;
    font-size: 1em;
    min-height: 0;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .login {
    margin-top: 0;
    width: 200px;
    font-size: 0.7em;
    min-height: 0;
  }
}
