// .post-frame {
//   color: #313036;
//   text-align: center;
// }

// .header {
//   background: #343434;
//   width: 500px;
//   height: 80px;
//   text-align: center;
// }

.carre {
  background-color: white;
  height: 700px;
  width: 500px;
  margin: 20px auto;
  box-shadow: 2px 2px 2px 2px grey
}
