.post-frame {
  h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 200;
  }
  &:hover {
    .control-icon {
      visibility: visible;
    }
  }
}

.post-frame-banner {
  transition: all 0.8s ease;
  height: 400px;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    visibility: hidden;
  }
  &.hovered {
    p {
      font-size: 1.2em;
      text-shadow: -3px 0px 3px black;
      visibility: visible;
    }
  }
}

.post-frame-comment {
  padding-top: 50px;
}

.post-frame-story {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 200;
  color: white
}

.controls-list {
  position: absolute;
  top: 26px;
  right: 32px;
}

.control-icon {
  font-size: 20px;
  color: rgba(128, 128, 128, 1);
  visibility: hidden;
  &:hover {
    color: white;
  }
}
