html, body {
  margin:0;
  padding:0;
  height:100%;
}

#wrapper {
  min-height:100%;
  position:relative;
  padding:0;
}
#header {
  padding: 0;
  margin: 0;
}
#content {
  padding-bottom: 300px; /* Height of the footer element */
}
#footer {
  position:absolute;
  width:100%;
  bottom:0;
}
