/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  color: white;
  position: fixed;
  width: 60%;
  left: 20%;
  right: 20%;
  top: 70px;
  z-index: 10;
}

.alert-info {
  background: transparent;
  border: none;
}
.alert-warning {
  background: transparent;
  border: none;
}
.alert-danger {
  background: transparent;
  border: none;
}
